WXT_MANIFEST_KEY=
WXT_OAUTH2_CLIENT_ID=
WXT_BACKEND=http://localhost:8000

WXT_REVERB_APP_KEY=
WXT_REVERB_HOST=localhost
WXT_REVERB_PORT=8080
WXT_REVERB_SCHEME=http

WXT_SAT_FORM_CER=
WXT_SAT_FORM_KEY=
WXT_SAT_FORM_PASSWORD=
WXT_SAT_FORM_ANCHOR=
WXT_SAT_FORM_SUBMIT=

WXT_IMSS_FORM_CER=
WXT_IMSS_FORM_KEY=
WXT_IMSS_FORM_PASSWORD=
WXT_IMSS_FORM_TAX_ID=
WXT_IMSS_FORM_ANCHOR=
WXT_IMSS_FORM_SUBMIT=
