@import "tailwindcss";
@plugin "@tailwindcss/typography";
@import "@nuxt/ui";


body {
    min-width: 320px;
    max-width: 1280px;
    font-family: 'Noto Sans', sans-serif;
    --ui-primary: #19f30d;
}
