@import "tailwindcss";
@plugin "@tailwindcss/typography";
@import "@nuxt/ui";


body {
    min-width: 320px;
    font-family: 'Noto Sans', sans-serif;
    --ui-primary: #19f30d;
    --ui-container: var(--container-3xl);
}
